//Font

//Variable
@import "base/_variables.scss";

//Обнуление
@import "base/_style.scss";

//element

.slider{
    margin-top: 40px;
    position: relative;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow:hidden;
        .strel{
            width: 30px;
        }
        .wrapper__img{
            margin:0 auto;
            height:400px;
            overflow:hidden;
            .swiper-slide{
                width: 100%;
            }
            
        }
    }
}