.carousel{
    flex-direction: column;
    background-color: $gray-black;
    padding: 100px 0;
    .container{
        align-items: flex-start;
    }
    &_title{
        color: $white;
    }
    &__wraper{
        margin: 0 auto;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        flex-wrap:nowrap;
        max-width: 1440px;
        width: 100%;
        overflow: hidden;
        scrollbar-width: none;
        overflow-x: auto;
        &-foot{
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-top: 70px;
        }
    }
    &__img{
        margin: 0 5px;
        
    }

    &__panel{
        display: flex;
        align-items: flex-end;
        width: 28%;
        justify-content: space-between;
        &_arrow{
            width: 51px;
            height: 29px;
        }
        &_markers-wrap{
            position: relative;
            display: flex;
        }
        &_markers{
            position: relative;
            width: 8px;
            height: 8px;
            margin: 0 8px;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #656565;
            }
        }
    }
    
}