.title_64{    
    font-size: 64px;
    font-family: $font-title;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.92px;
}
.title_48{
    font-family: $font-title;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
}


.title_24{
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.title_22{
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.title_18{
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    &_book{
        font-weight: 400;
    }
    &_light{
        font-weight: 300;
    }
}
.title_16{
    font-family: $font-main;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    &_book{
        font-weight: 400;
    }
    &_demi{
        font-weight: 600;
    }
    &_light{
        font-weight: 300;
    }
    &_medium{
        font-weight: 450;
    }
}
.title_14{
    font-size: 14px;
    font-style: normal;
    line-height: normal;
    &_book{
        font-weight: 400;
    }
    &_medium{
        font-weight: 450;
    }
}


.prise_18{
    font-family: $font-subtitle;
    color: #EFC58B;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
}
.prise_16{
    font-family: $font-subtitle;
    color: #EFC58B;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    line-height: normal;
}