.about_contacts{
    @include about(5px);
    align-items: center;
    .case_contacts{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        .tytle_contacts{
            @include text(48px, 300);
            margin-top: 40px;
        }
        .case_contacts_list{
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            .paragraph, .meaning{
                @include text(36px, 300);
                line-height: 150.4%;
                display: flex;
                flex-direction: column;
            }
        }
    }
}