.about_employees{
    @include about(5px);
    .employees_box{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px 0px 20px 50px;
        .employees_box_main{
            width: 100%;
            display: flex;
            .employees_box_img{
                width: 400px;
                height: 500px;
                border-radius: 30px;
                .employees_img{
                    width: auto;
                    height: 500px;
                    border-radius: 5px;
                }
            }
            .employees_info{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .employees_name{
                    @include text(46px, 300);
                }
                .schedule_box{
                    display: flex;
                    flex-direction: column;
                    .schedule{
                        @include text(36px, 300);
                    }
                    .schedule_time_case{
                        display: flex;
                        .schedule_time{
                            display: flex;
                            flex-direction: column;
                            @include text(36px, 300);
                        }
                        .schedule_time_two{
                            display: flex;
                            flex-direction: column;
                            margin-left: 60px;
                            @include text(36px, 300);
                        }
                    }
                }
                .employees_button_box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 20px;
                    .employees_button{
                        width: 300px;
                        height: 70px;
                        border-radius: 30px;
                        background-color:   #45D8EC;
                        border: 0;
                        filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.25));
                        .employees_button_text{
                            @include text(32px, 500);
                        }
                    }
                }
            }
        }
        .employees_specialization{
            margin-top: 80px;
            .specialization{
                @include text(40px, 300);
            }
        }
    }
}