.about_foot{
    @include about(5px);
    justify-content: center;
    .line{
      background: #5DA4A4;
      height: 3px;
      width: 100%;
      margin-bottom: 20px;
    }
    .footer_box{
    width: 100%;
    display: flex;
    justify-content: center;
    .contacts{
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .contact_title{
        @include text(36px, 300);
      }
      .contact_list_box{      
        .contact_list{
          @include text(24px, 300);
          line-height: 165.4%;      
        }
      }
    }
    .footer_menu{
      width: 30%;
      .footer_menu_list{
        @include text(24px, 300);
        line-height: 165.4%; 
      }
    }
    .icon_stroc{
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
}
  