.about_price{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    max-width: 1125px;
    .case_price{
        display: flex;
        flex-direction: column;
        .title_price{
            color: #000;
            font-size: 48px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }
        .case_price_list{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            .name_price{
                display: flex;
                flex-direction: column;
                color: #000;
                font-size: 36px;
                font-style: normal;
                font-weight: 300;
                line-height: 179.938%;
            }
            .prices_in_price{
                display: flex;
                flex-direction: column;
                color: #000;
                font-size: 36px;
                font-style: normal;
                font-weight: 300;
                line-height: 179.938%;
            }
        }
    }
}