.about_price{
    @include about(60px);
    margin-top: 5px;
    .case_price{
        display: flex;
        flex-direction: column;
        margin: 20px;
        .title_price{
            @include text(48px, 300);
        }
        .case_price_list{
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            .name_price{
                display: flex;
                flex-direction: column;
                @include text(36px, 300);
                line-height: 179.938%;
            }
            .prices_in_price{
                display: flex;
                flex-direction: column;
                @include text(36px, 300);
                line-height: 179.938%;
            }
        }
    }
}