.about_services{
    @include about(5px);   
    justify-content: center;
    .container_servise{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .servise{
            margin: 40px 30px 20px 30px;
            width: 400px - 100px;
            height: 550px - 115px;
            border-radius: 10px;
            object-fit: cover;
            background-size: cover;
            overflow: hidden;
            @media screen and (max-width: 660px){
                width: auto;
                height: 325px;
              }   
            .servise_img{
                height: 90%;
                width: auto;
            }
            .servise_text_box{
                background-color: rgba(58, 208, 218, 0.34);
                height: 10%;
                margin-top: -5px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                z-index: -1;
                .servise_text{
                    @include text(24px, 300);
                    
                }
            }
        }
    
    }
}
.inport_servise{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;}