
*, *::after,*::before{
 box-sizing: inherit;   
}
html{
    box-sizing: border-box;
    
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1171px;
    flex-direction: column;
}  
@import "./header.scss"; 
