*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1171px;
  flex-direction: column;
}

.address_case {
  display: flex;
  justify-content: space-around;
}
.address_case .address_svg_text, .address_case .contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.address_case .address_svg_text .address_svg, .address_case .contacts .address_svg {
  margin-right: 7px;
}
.address_case .contacts {
  display: flex;
  justify-content: space-around;
}
.address_case .indentation_case_one {
  margin-right: 14px;
}
.address_case .indentation_case_two {
  margin-left: 14px;
}