.title{
    color: $white;
    font-weight: bold;
    font-style: normal;
    &_64{
        font-size: 64px;
        font-family: $font-title;
    }
    &_48{
        font-size: 48px;
    }
    &_22{
        font-size: 22px;
    }
    &_18{
        font-size: 18px;
        font-weight: 300;
    }
    &_16{
        font-size: 16px;
    }
    &_14{
        font-size: 14 px;
    }
}