//Font
$font-main: 'Futura PT';
$font-title: 'Forum', serif;
$font-subtitle: 'Segoe UI';

//Color
$white: #fff;
$gray-black: #272727;

//Breakpoints
$mw: 320px;
$mw1: 576px;
$mw2: 768px;
$mw3: 992px;
$mw4: 1200px;
$mw5: 1600px;
